<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220432767295-eq01bs8g2jmh917g69k3s5l05brlr8aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220432767295-eq01bs8g2jmh917g69k3s5l05brlr8aq</string>
	<key>API_KEY</key>
	<string>AIzaSyCUtBQ1Vhg9nZ_zkCpRBMYqPXkg7ie8wpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>220432767295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anujvasil.Straw</string>
	<key>PROJECT_ID</key>
	<string>hacksc-straw</string>
	<key>STORAGE_BUCKET</key>
	<string>hacksc-straw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220432767295:ios:eda2fd4a0e1a28164d1b8a</string>
	<key>DATABASE_URL</key>
	<string>https://hacksc-straw.firebaseio.com</string>
</dict>
</plist>