<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969937275714-n0qtt9f89q1l2e784lrdvfqbr69o6baa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969937275714-n0qtt9f89q1l2e784lrdvfqbr69o6baa</string>
	<key>API_KEY</key>
	<string>AIzaSyDLiG8cbzU-wt4JoGkl0s7DnaBbgylGr0g</string>
	<key>GCM_SENDER_ID</key>
	<string>969937275714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anujvasil.Straw</string>
	<key>PROJECT_ID</key>
	<string>straw-41a22</string>
	<key>STORAGE_BUCKET</key>
	<string>straw-41a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969937275714:ios:ad25113baf654d1ba756db</string>
	<key>DATABASE_URL</key>
	<string>https://straw-41a22.firebaseio.com</string>
</dict>
</plist>